<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/main22.css">
  </head>
  <body>
    <div class="container">
      <div class="profile-wrap">
        <div class="profile">
          {% if user and user.id %}
            <div class="user-name">{{user.nickname}}</div>
            <div class="user-email">{{user.email}}</div>
            <div id="halfContainer">
            <div class="half">
              <span class="count following-count">{{followingCount}}</span>
              <span>팔로잉</span>
            </div>
            <div class="half">
              <span class="count follower-count">{{followerCount}}</span>
              <span>팔로워</span>
            </div>
          </div>
          <input id="my-id" type="hidden" value="{{user.id}}">
          <a id="my-profile" href="/profile" class="btn">내 프로필</a>
          <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        {% else %}
          <form id="login-form" action="/auth/login" method="post">
            <div class="input-group">
              <label for="email">이메일</label>
              <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="input-group">
              <label for="password">비밀번호</label>
              <input id="password" type="password" name="password" required>
            </div>
            <div id="buttons">
            <button id="login" type="submit" class="btn">로그인</button>
            <a id="join" href="/join" class="btn">회원가입</a>
            <a id="kakao" href="/auth/kakao" class="btn">카카오톡</a>
          </div>
          </form>
        {% endif %}
        </div>

        <div id="underProfile"></div>

        <div id="formContainer">
          <form id="twit-form" action="/post" method="post" enctype="multipart/form-data">
            <div class="input-group">
              <textarea id="twit" name="content" maxlength="140"></textarea>
            </div>
            <div class="img-preview">
              <img id="img-preview" src="" style="display: none;" width="250" alt="미리보기">
              <input id="img-url" type="hidden" name="url">
            </div>
            <div id="uploadContainer">
              <label id="img-label" for="img">사진 업로드</label>
              <input id="img" type="file" accept="image/*">
              <button id="twit-btn" type="submit" class="btn">
                <img src="https://cdn-icons-png.flaticon.com/512/149/149444.png" width="25px"></button>
            </div>
          </form>
        </div>


      </div>
      {% block content %}
      {% endblock %}
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      window.onload = () => {
        if (new URL(location.href).searchParams.get('loginError')) {
          alert(new URL(location.href).searchParams.get('loginError'));
        }
      };
    </script>
    {% block script %}
    {% endblock %}
  </body>
</html>
