/* 프로필 수정 */
/* .border{
   border: 2px solid #ececec;
}
 */
 .top{
    font-size: 25px;
    color: darkgrey;
   /*  font-weight: bolder; */
   margin-top: 40px;
   margin-left: 180px;
   margin-bottom: 60px;
 }

#edit{
    font-size: 20px;
    font-weight: bolder;
}
#join-form1{
    margin-left: 30vw;
    margin-top: 9vh;
    border: 3px solid #ececec;
    width: 500;
    height: 550;
    display: inline-block;

  } 
  
  .input-group1{
  margin-top: 20px;
  text-align: center;
  padding:10px 0;
  }
  
  #join-email1{
  margin-left:40px;
  padding: 10px;
  }
  
  
  #join-nick1{
    margin-left:40px;
    padding: 10px;
  }
  
  #join-password1{
    margin-left:19px;
    padding: 10px;
  }

  #join-btn1{
      margin-top: 50px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
      color: black;
      border:  gray;
      height: 45px;
      width: 100px;
      line-height: 30px;
      vertical-align: top;
      font-size: 14px;
      background-color: rgb(234, 233, 233);
      text-align: center;
      margin-left: 200px;

  }
  #join-btn1:hover {
    background-color: silver;
  }
  #join-btn2:hover {
    background-color: silver;
  }
  #join-btn2{
    margin-top: 20px;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    border:  gray;
    height: 30px;
    width: 100px;
    line-height: 30px;
    vertical-align: top;
    font-size: 14px;
    background-color: rgb(234, 233, 233);
    text-align: center;
 
}
  #a {
    /*   color: -webkit-link; */
      cursor: pointer;
      text-decoration-line: none;
  }