/* * { box-sizing: border-box; } */
html, body { margin: 0; padding: 0; height: 100%; }

body {width: 100%; height: 100%; top: 0; overflow-x: hidden;}
input[type='text'], input[type='email'], input[type='password'], textarea {
  border-radius: 4px;
  height: 37px;
  padding: 10px;
  border: 1px solid silver;
}
.container { width: 100%; height: 100%; }
@media screen and (min-width: 800px) {
  .container { width: 100%; height: 100%; }
}
.input-group { width: 90%; margin-bottom: 15px;}
.input-group label { width: 70px; font-size: 0.9em; align-self: center; }
.input-group input { width: 100%; height: 20px; }
.half { float: left; width: 50%; margin: 10px 0; }
.halfContainer{
  width: 100%;
}
#join { float: right; }
.profileContainer {
  width: 100%;
  height: 100%;
}
.profile-wrap {
  width: 25%;
  height: 100%;
  /* display: inline-block; */
  vertical-align: top;
  position: fixed;
  /* pointer-events: none; */
  z-index: 2;
  border-right: 1px solid silver;
}
@media screen and (min-width: 800px) {
  .profile-wrap { width: 25%; height: 100%;
   }
}
.profile {
  /* position: fixed; */
  width: 60%;
  height: 130px;
  text-align: left;
  padding-left:25%;
  padding-right: 20%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.user-name { font-weight: bold; font-size: 1.3rem; }
.user-email { color: rgb(160, 159, 159); }
.count { font-weight: bold; font-size: 18px; }
#my-profile {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: 1px solid none;
  height: 30px;
  width: 100px;
  line-height: 30px;
  vertical-align: top;
  font-size: 14px;
  background-color: rgb(234, 233, 233);
  text-align: center;
  border: 1px solid gray;
}

#logout {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: 1px solid none;
  height: 30px;
  width: 100px;
  line-height: 30px;
  vertical-align: top;
  font-size: 14px;
  background-color: rgb(234, 233, 233);
  text-align: center;
  border: 1px solid gray;

}

#underProfile{
  /* position: fixed; */
  /* margin-top: 200px; */
  width:100%;
  border-bottom: 1px solid silver;
}

.timeline {
  padding-left: 25%;
  width: 50%;
  min-height: 1000px;
  display: inline-flex;
  border-radius: 4px;
  vertical-align: top;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  position: absolute;
}

@media screen and (min-width: 807px) { .timeline { width: 50%;
 } }

.home{
  width: 100%;

}

.formContainer {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
#twit-form {
  /* position: fixed; */
  margin-top: 10%;
  width:90%;
  height: 300px;
  padding-left: 10%;
  padding-right: 10%;
}
#img-preview { max-width: 100%; }
#img-label {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: 1px solid none;
  height: 30px;
  width: 100px;
  line-height: 30px;
  vertical-align: top;
  font-size: 14px;
  text-align: center;
  border: 1px solid gray;
}
#img { display: none; }
#twit { width: 90%; min-height: 72px;
height: 200px; }
#twit-btn {
  float: right;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: 1px solid none;
  height: 30px;
  width: 50px;
  line-height: 30px;
  vertical-align: top;
  font-size: 14px;
  background-color: rgb(234, 233, 233);
  text-align: center;
  border: 1px solid gray;
}

#uploadContainer{
  width: 85%;
}

#h1container{
  width:50%;
  border-bottom: 1px solid silver;
  margin-bottom: 20px;
  /* padding-left: 20px; */
  position: fixed;
  z-index: 3;
  background-color: white;
}

h1 {
  margin-left: 20px;
}
#tophref{
  text-decoration: none;
  color: black;
}

.twits{
  z-index: 2;
  padding-top: 100px;
  width: 100%;
}

#top {
  /* padding-top: 100px; */
}

#twitContainer{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  z-index: 2;
}
.twit {
  /* width: 700px; */
  width: 90%;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 10px;
  /* position: relative; */
  z-index: 2;
  margin-bottom: 10px;
}
.twit-author { 
  display: inline-block; 
  font-weight: bold; 
  margin-right: 10px; 
  font-size: 1.1em;
}

.twit-author-email {
  display: inline-block; font-weight: bold; margin-right: 10px;
  color: rgb(160, 159, 159);
  font-size: 0.9em;
  
}

.twit-content {
  margin-top: 7px;
}

.twit-follow:hover {
  background:rgb(234, 233, 233);
}
.twit-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid rgb(114, 114, 114);
  border-radius: 5px;
  color: rgb(114, 114, 114);;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
  float: right;
}
.twit-img { text-align: center; }
.twit-img img { 
  max-width: 50%; 
  margin-top: 10px;
}
.error-message { color: red; font-weight: bold; }
#search-form { text-align: right; }
#join-form { padding: 10px; text-align: center; margin-left: 250px; margin-top: 100px; }

#searchbar {
  background-color: rgb(234, 233, 233);
  border-radius: 30px;
  width:280px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  margin-top: 20px;
}
#searchtag {
  width:190px;
  height: 30px;
  margin-left: 25px;
  background-color: rgb(234, 233, 233);
  border: none;
}
#img_btn {
  margin-left: 3px;
  border-radius: 5px;
  background-color: rgb(234, 233, 233);
  border: none;
}
footer { text-align: center; }

#feedRight{
  padding-left: 50%;
  width:25%;
  position: fixed;
  display: inline-flex;
  justify-content: center;
}

.searchContainer{
  width: 80%;
}

#buttons {
  display: inline-flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}

#login {
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: 1px solid none;
  height: 32px;
  width: 70px;
  line-height: 30px;
  vertical-align: top;
  font-size: 14px;
  background-color: rgb(234, 233, 233);
  text-align: center;
  border: 1px solid gray;
}
#kakao{
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: 1px solid none;
  height: 30px;
  width: 70px;
  line-height: 30px;
  vertical-align: top;
  font-size: 14px;
  background-color: rgb(234, 233, 233);
  text-align: center;
  border: 1px solid gray;
}
#join{
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  border: 1px solid none;
  height: 30px;
  width: 70px;
  line-height: 30px;
  vertical-align: top;
  font-size: 14px;
  background-color: rgb(234, 233, 233);
  text-align: center;
  border: 1px solid gray;
}

#email{
  height: 10px;
}

#password{
  height: 10px;
}
#join-form{
  padding-top: 100px;
  /* display: inline-flex; */
}

.twits2 {
  margin-top: 30px;
  width: 80%;
}

.twit3 {
  border: 1px solid silver;
  border-radius: 5px;
  width: 260px;
  text-align: left;
  margin-bottom: 10px;
  padding: 10px;
}

.twit2 {
  border: 1px solid silver;
  border-radius: 5px;
  width: 260px;
  padding: 10px;
  height: 25px;
  text-align: left;
  margin-bottom: 10px;
}


.twit2-follow {
  padding: 1px 5px;
  background: #fff;
  border: 1px solid rgb(114, 114, 114);
  border-radius: 5px;
  color: rgb(114, 114, 114);;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

.twit2-author { display: inline-block; font-weight: bold; margin-right: 10px; }

.twit2-author-email {
  display: inline-block; font-weight: bold; margin-right: 10px;
  color: rgb(160, 159, 159);
  font-size: 0.9em;
  width: 120px;
}

#likebtn{
  text-align: right;
}





.page{
  text-align: center;
  width: 100%;
  display: inline-flex;
  justify-content: center;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  display: inline;
  text-align: center;
}

.pagination a{
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: rgb(147, 146, 146);
}

.first{
  margin-right: 15px;
}

.last {
  margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
  color:rgb(101, 100, 100);
}

.pagination a.active {
  cursor: default;
  color: #ffffff;
}

.pagination a.active {
  outline: none;
}

.modal .num {
  margin-left:  3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%

}

.modal .num:hover {
  background-color:gray;
  color:#ffffff;
}
